<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>cjweb</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>br.com.hightechcursos.controller.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/usucontroller.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutenticadorController</display-name>
    <servlet-name>AutenticadorController</servlet-name>
    <servlet-class>br.com.hightechcursos.controller.AutenticadorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutenticadorController</servlet-name>
    <url-pattern>/AutenticadorController</url-pattern>
    <url-pattern>/autcontroller.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroAutentica</display-name>
    <filter-name>FiltroAutentica</filter-name>
    <filter-class>br.com.hightechcursos.controller.FiltroAutentica</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAutentica</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>